<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
{% extends "create_emp.html" %}
{% block content %}
</div>
    <div class="side-box" style="margin-left: 40%;">
        <form class="inside" method="post" >
            {% csrf_token %}
            <input type="hidden" name="available" value="1">
            <input type="hidden" name="forms" value="{{form_data.0.id}}">
            <label for="emp"> worker name</label>
            <input type="text" id="emp" name="name" placeholder="enter" value="{{name}}">
            <label for="empid"> Worker code</label>
            <input type="text" id="empid" name="code" placeholder="enter" value="{{worker_id}}">
            {% for data in field %}
            {{data|safe}}
            {%endfor%}
            <button type="submit"> Submit</button>

        </form>
    </div>
</div>
{% endblock %}
</body>
</html>