<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "create_emp.html" %}
{% block content %}

 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">form</th>
      <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% if data %}
    <tr>
      <th scope="row"></th>
        <td>Name</td>
      <td>{{data.0.name}}</td>
    </tr>
  <tr>
      <th scope="row"></th>
      <td>Work id</td>
      <td>{{data.0.worker_id}}</td>
    </tr>
  {% for key,value in data.0.additional.items%}
  <tr>
      <th scope="row"></th>
      <td>{{key}}</td>
      <td>{{value}}</td>
    </tr>
{% endfor %}
  {%else%}
   <tr>
      <th scope="row"></th>
       <td><h1>No data</h1></td>
    </tr>
  {% endif %}

  </tbody>
</table>
{% endblock %}
</body>
</html>